.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas de igual tamaño */
    gap: 20px; /* Espacio entre las tarjetas */
}

.card {
    background-color: gray;
    border: 2px solid black;
    margin: 20px;
}

.pokeID {
    background-color: black;
}

img.imgPoke {
    width: 200px;
    height: 200px;
}
