.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    color: rgb(235, 235, 235);
}

.card {
    background-color: rgb(31, 31, 31);
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.pokeId {
    padding: 10px;
    font-size: 20px;
    color: rgb(128, 126, 126, 20%);

}

.pokeName {
    padding: 10px;
    font-size: 25px;
}

.pokeImg {
    margin-left: auto;
}

img.imgPoke {
    width: 180px;
    height: 180px;
}
